*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root{
  --mainColor: #161728;
  --mainLight : rgb(119, 119, 145);
  --secondColor : #3a91b9;
  --textColor : #E5DAC4;

}

header{
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 100px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  

 
 
}
header nav{
  display: flex;
  flex-direction: row;
  
}
nav a{
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;


}
.picture-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  

}

.picture-container h3{
  font-size: 13px;
  color: var(--textColor);
}
.picture-container img{
  width: 8%;
  border-radius: 50%;
 
}

 
nav a:hover{
  color :var(--secondColor);
  
  
  
}
header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;

}


.container{
  position:relative;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 15px;
 flex-direction: row;
 
 
  
}
.container button{
  position:absolute;
  top: 3em;
  right: 6em;
  
}

.picture-container1{
  display: flex;
  width: 41%;
  height: 76vh;
  position: relative;
  opacity: 0.5;
  animation: anima 4s  infinite ease-in-out;
}



@keyframes anima{
 
  0%{opacity: 0.3;} 
  20%{opacity: 0.7;}
  50%{opacity: 0.9;}
  100%{
    opacity: 1;
 
  }
}

.picture-container1 img{
  width: 100%;
  border-radius:50%;
  
 }
 .text-container h3{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1.5px solid  var(--secondColor);
  font-size: 70px;
  margin: 14px;
  border-radius:10px;
  color:var(--textColor);
  text-shadow: 0 0 5px;
 animation: changeColor  infinite 4s linear;
 }

@keyframes changeColor{
  0%{
    color: var(--mainColor);
    text-shadow: 0 0 5px;
    transform: rotateX(0deg);
    border-bottom:1.5px solid  var(--secondColor);
   
  }
  33%{
    transform: rotateX(17deg);
    color:var(--mainLight) ;
    text-shadow: 0 0 10px;
  }

  100%{
    color:var(--secondColor) ;
    text-shadow: 0 0 25 20px;
    transform: rotateX(35deg);
    border-bottom:3px solid  var(--mainColor);
  }
 

}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media( max-width: 1024px){
  header h2{
  font-size: 20px;
  }
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  
  
  }video{
    width: 100%;
    height: 100%;
  }
  header nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
  gap: 1rem;
  transition: 2s;
   transform: translateY(-100vh);
   z-index: 1;
  }
  header .responsive_var{
    transform: none;
  }nav .nav-close-btn{
    position: absolute;
    top: 1.7rem;
    right: 2rem;
      

  } header h1{
    color: var(--textColor);
    width:50%;
  }
  .container{
    margin-top: 4rem;
  }.picture-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

  
  }.picture-container img{
    width: 18%;
    border-radius: 50%;
    margin: 4px;
    
  }.picture-container h3{
    font-size: 18px;
    color: var(--textColor);
  }
  
  nav a {
    font-size: 1.5rem;

  }.container{
    display: flex;
    flex-direction: column;

  }
  
  .picture-container1{
   width: 71%;
  height: 30vh;
   
  }.text-container{
    
  } .picture-container h3{
    text-align: center;
  }
}